@media(max-width:489px){
    .footer{
        .footer__info{
            width: 100%;
            height: 200px;
            padding: 15px;
        }
        .footer__adr{
            font-size: 16px;
            margin-bottom: 20px;
        }
        .footer__tel{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}
