@media(max-width: 485px){
   .overlay > .modal{
        width: 320px;
        .modal__close{
            top: 12px;
            right: 12px;
        }
        .modal__subtitle{
            font-size: 14px;
        }
        .modal__descr{
            font-size: 11px;
        }
        .feed-form{
            width: 100%;
            input{
                font-size: 11px;
            }
            .button_submit{
                font-size: 13px;
            }
        }
    }
}